@import url(https://db.onlinewebfonts.com/c/37b99ed52ede6870ccabc482e9d9fd1a?family=Amelia+UP+W03+Regular);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 42, 119; /* #0A2A77 */
  --background-end-rgb: 6, 158, 166; /* #069EA6 */
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 42, 119; /* #0A2A77 */
    --background-end-rgb: 6, 158, 166; /* #069EA6 */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      90deg,
      rgb(var(--background-start-rgb)) 0%,
      rgb(var(--background-end-rgb)) 100%
    );
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

input, select {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

button:hover {
  background: yellow;
  transition: all 0.5s;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  color: black;
}

.font-amelia {
  font-family: "Amelia UP W03 Regular";
}